.card {
    position: relative;
    height: 300px;
    overflow: hidden;
    transition: background-size 0.3s;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: flex-end;
}
.heading{
  width: 25%;
  border-bottom: 2px solid black;
  text-align: center;
  margin: 0 auto;
}
@media (max-width:780px) {
  .heading{
    width: 35%;
  }
}
@media (max-width:540px) {
  .heading{
    width: 50%;
  }
}
@media (max-width:340px) {
  .heading{
    width: 60%;
  }
}