
/*--------------------------------------------------------------
# team
--------------------------------------------------------------*/
.team .team-wrap {
  padding-left: 50px;
}

.team .team-carousel,
.team .team-slider {
  overflow: hidden;
}

.team .team-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  /* margin: 30px 15px; */
  min-height: 200px;
  border: 1px solid #e0e2e2;
  position: relative;
  background: #fff;
  box-shadow: 0.05px 0.05px 0.05px 0.05px black;
  border-radius: 5px;
}
.swiper-container{
  width: 100%;
}
.team .team-item .team-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
}

.team .team-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}

.team .team-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.team .team-item .quote-icon-left,
.team .team-item .quote-icon-right {
  color: #c1ecce;
  font-size: 26px;
}

.team .team-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.team .team-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.team .team-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
}

.team .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.team .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #26a9ab;
}

.team .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #26a9ab;
}

@media (max-width: 767px) {
  .team .team-wrap {
    padding-left: 0;
  }

  .team .team-carousel,
  .team .team-slider {
    overflow: hidden;
  }

  .team .team-item {
    padding: 30px;
    margin: 15px;
  }

  .team .team-item .team-img {
    position: static;
    left: auto;
  }
}
.team .social span{
  transition: ease-in-out 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #eff2f8;
}

/* .swiper-slide{
    width: 100vw;
  } */

@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}